body  {
    background-color: rgb(19, 16, 11);
    color:rgb(255, 255, 255);
    font-family:rgb(237, 230, 243);
     text-align: center;
}

h3 {
    color:aliceblue;
    text-align: center;
    font-size: 25px;
    margin: 20px;
}


h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 20px;
     text-align: center;
}

section {
    display: grid;    
    gap: 20px;
    text-align: center;
      
}


img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
    text-align: center;
}

article {
    background-color: rgb(89, 195, 149);
    color: rgb(130, 183, 235);
    text-align: center;
    transition: transform 0.3s ease;
    border: 2px solid ; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article:hover{
    transform:rotateY('-5px')
       

}
header{
    text-align: center;
}

footer{
    text-align: center;
}

section div {
    display: grid;
    grid-template-columns: repeat(auto-fit,390px );
    gap: 25px;
    margin-top: 25px;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1em;
    font-weight: 500;
}















































































































































